@using QuestionsAndAnwers.Data;
@model QuestionsViewModel
    <div class="row">
        @foreach (Question q in Model.Questions)
        {

            <div class="col-md-8 offset-md-2">
                <div class="card card-body bg-light">
                    <h4>
                        <a href="/home/viewquestion?id=@q.Id">
                            @q.Title
                        </a>
                    </h4>
                    <div>
                        <span>Tags:</span>
                        @foreach(QuestionsTagsJoin qt in q.QuestionsTags)
                {
                    <span class="badge badge-primary">@qt.Tag.Name</span>
                }
                        
                        
                    </div>
                    <div style="margin-top: 10px;">
                       @q.Text
                    </div>
                    <span>Likes: @q.Likes.Count</span>
                    <br />
                    <span>@q.Answers.Count answer(s)</span>
                </div>
            </div>
        }
        </div>
